.b-pre-header {
  .text {
    font-family: Bodoni;
  }
}

.e-block {
  overflow: hidden;
  .content {
    padding: 15px 30px;
    position: relative;
    height: 100%;
    background-position: 25px 30px;
    background-repeat: no-repeat;
  }
  &:not(.product){
    h2 {
      margin-left: 50px;
    }
  }
  .maintitle {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 25px;
    max-width: 220px;
    padding-left: 52px;
    font-family: Telefonicabold;
    text-shadow: 9px 7px 14px rgba(74, 74, 74, 0.56);
  }

  .subtitle {
    color: #fff;
    font-size: 18px;
    padding-left: 52px;
    font-family: Telefonicaregular;
  }
  .u-cite {
    position: absolute;
    right: 20px;
    bottom: 30px;
    color: #fff;
    font-size: 16px;
    font-family: Telefonicabold;
  }

  &.product {
    background: image-url('p-product.svg') no-repeat;
    height: 380px;
    width: 827px;
    .u-cita {
      color: #4A4A4A;
      font-size: 55px;
      font-family: Bodoni;
      text-align: right;
      line-height: 55px;
      padding-left: 100px;
      margin-top: 2px;
    }
    .link {
      font-size: 14px;
      color: #4A4A4A;
      float: right;
      text-transform: uppercase;
      margin-top: 40px;
      font-family: Telefonicabold;
    }
  }

  &.repetition {
    background: image-url('enjunto.jpg') no-repeat;
    width: 519px;
    height: 305px;
    .content {
      background-image: image-url('r.svg');
    }
  }

  &.ux {
    background: image-url('ux.jpg') no-repeat;
    height: 305px;
    width: 519px;
    .content {
      background-image: image-url('u.svg');
    }
  }

  &.design {
    background: image-url('bowie.jpg') no-repeat;
    height: 305px;
    width: 288px;
    .content {
      background-image: image-url('d.svg');
    }
  }

  &.team {
    background: image-url('team.jpg') no-repeat;
    height: 305px;
    width: 288px;
    .content {
      background-image: image-url('o.svg');
    }
  }

  &.footer {
    width: 828px;
    background: #7FD6D6;
    color: #fff;
    padding: 0 0 15px;
    .text-footer {
      margin: 0;
      font-size: 18px;
      font-family: Telefonicaregular;
    }
    a {
      color: #fff;
      font-size: 18px;
      font-family: Telefonicaregular;
    }
  }
  &.custom {
    background: #D979B8;
    height: 100%;
    width: 828px;
    padding-bottom: 30px;
    .column-title {
      color: #fff;
      font-family: Telefonicaregular;
      font-size: 24px;
      padding-right: 65px;
      margin-bottom: 20px;
      line-height: 30px;
    }
    .column-left {
      float: left;
      width: 50%;
    }
    .column-right {
      float: left;
      width: 42%;
      .column-text {
        text-align: right;
        color: #fff;
        font-size: 16px;
        font-family: Telefonicabold;
        margin: 0;
      }
      .name {
        text-align: right;
        color: #fff;
        font-size: 14px;
        font-family: Telefonicaregular;
      }
    }
    .last-column {
      width: 5%;
      float: right;
    }
  }
  .actions {
    .action {
      display: inline-block;
      vertical-align: middle;
      .number {
        display: block;
        font-family: Telefonicabold;
        font-size: 18px;
        color: #fff;
        text-align: right;
        margin-bottom: 15px;
        margin-right: 15px;
      }
      .button {
        border: 2px solid #fff;
        border-radius: 50px;
        color: #fff;
        width: 200px;
        padding: 8px 60px 8px 15px;
        font-family: Telefonicabold;
        font-size: 14px;
        text-transform: uppercase;
        &.star {
          background: image-url('star.svg') no-repeat 90%;
        }
        &.football {
          background: image-url('ball.svg') no-repeat 90%;
        }
        &.sing {
          background: image-url('smiley.svg') no-repeat 90%;
          margin-left: 20px;

        }
      }
    }
  }
  .block-link {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
