/* =============================================================================
   IMAGES (utilities/_images.scss)
   ========================================================================== */

/* Reset
   ========================================================================== */

.u-image-reset {
	font-size: 100%;
	line-height: 100%;
}
svg {
	max-width: 100%;
	width: 100%;
}
