/* =============================================================================
   MAIN-WRAPPER (embed/objects/_main-wrapper.scss)
   ========================================================================== */

/* Media queries
   ========================================================================== */

@media (max-width: $breakpoint-mobile) {
	/**
	 * Updating spacing around main wrapper on smaller screens.
	 */

 html, body {
	 background: #fff !important;
 }

	.o-main-wrapper {
		background: #fff !important;
	}

	.o-main-wrapper__inner {
		padding-top: 0!important;
		padding-bottom: 0 !important;
	}
}
